body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.results {
  margin: 80px;
  text-align: center;
}

.finalResult {
  text-align: center;
}

.scores {
  display: flex;
  justify-content: center;
  text-align: center;
}

.scoreBox {
  width: 180px;
  height: 180px;
  margin: 50px;
  border: 5px solid black;
}

h2 {
  margin: 8px;
}

.playerScore,
.computerScore {
  font-size: 108px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px;
}